-# In progress course purchase
- wizard = EffectiveLearndash.CoursePurchaseWizard.in_progress.for(current_user).first
- datatable = EffectiveResources.best('EffectiveCoursePurchaseWizardsDatatable').new(self, namespace: :effective)

- if wizard.present?
  %h2 In Progress Course Purchases

  %p
    Your course purchase for
    = link_to(wizard.learndash_course, effective_learndash.learndash_course_path(wizard.learndash_course))
    is incomplete

  %p
    Please
    = link_to("Continue purchase for #{wizard.learndash_course}", effective_learndash.learndash_course_course_purchase_wizard_build_path(wizard.learndash_course, wizard, wizard.next_step), 'data-turbolinks' => false, class: 'btn btn-primary')
    or you can
    = link_to('Abandon course purchase', effective_learndash.learndash_course_course_purchase_wizard_path(wizard.learndash_course, wizard), 'data-confirm': "Really delete #{wizard}?", 'data-method': :delete, class: 'btn btn-danger')
    to purchase access for another course.

  %hr

%h2 Course Purchases

- if datatable.present?
  = render_simple_datatable(datatable)
- else
  %p You have no past course purchases. When you do, we'll show them here.

- if true
  %p= link_to 'View all Course', effective_learndash.learndash_courses_path, class: 'btn btn-primary'
