- learndash_user = current_user.try(:learndash_user)

%h2 Learndash Courses

- if learndash_user.blank?
  %p You do not have a Learndash account.

- if learndash_user.present?
  - # This queries the API
  - learndash_user.check_and_refresh!

  %p
    = succeed('.') do
      You have an existing account on
      = link_to('Learndash', EffectiveLearndash.learndash_url.chomp('/'), target: '_blank')

  %ul
    %li Email: #{learndash_user.email}
    %li Username: #{learndash_user.username}
    %li Password: #{learndash_user.password}

  - if learndash_user&.learndash_enrollments.present?
    %p You are enrolled in #{pluralize(learndash_user.learndash_enrollments.length, 'course')}.

    - datatable = EffectiveResources.best('EffectiveLearndashEnrollmentsDatatable').new(self)
    = render_datatable(datatable, simple: true)
  - else
    You are not enrolled in any Learndash courses.
