= card('LearnDash User') do
  %p
    = link_to(learndash_user.owner, "/admin/users/#{learndash_user.owner.to_param}/edit")
    has an existing account on LearnDash.

  %ul
    %li Email: #{learndash_user.email}
    %li Username: #{learndash_user.username}
    %li Password: #{learndash_user.password}

  - if Rails.env.development?
    %p= link_to "Wordpress Admin for #{learndash_user}", EffectiveLearndash.learndash_url.chomp('/') + "/wp-admin/user-edit.php?user_id=#{learndash_user.user_id}", target: '_blank'

%h3 Learndash Course Enrollments
- datatable = Admin::EffectiveLearndashEnrollmentsDatatable.new(learndash_user: learndash_user)
= render_datatable(datatable, inline: true)
