= card('Course Registration') do
  %table.table.table-sm
    %tbody
      %tr
        %th.border-0 Course
        %td.border-0
          %p
            %strong=course_registration.course

          - learndash_user = course_registration.learndash_owner.learndash_user
          %p Your course account credentials are:

          %ul
            %li
              %strong Username:
              #{learndash_user.username}
            %li
              %strong Password:
              #{learndash_user.password}

          %p= link_to('Sign in to your course account', EffectiveLearndash.learndash_url, target: '_blank', class: 'btn btn-primary mb-2')

      - if request.path.start_with?('/admin')
        %tr
          %th Registered by
          %td
            - url = (polymorphic_admin_path(course_registration.owner) rescue "/admin/users/#{course_registration.owner.to_param}/edit")
            = link_to(course_registration.owner, url)
      - else
        %tr
          %th Registered by
          %td= course_registration.owner

      - if course_registration.orders.present?
        %tr
          %th Order
          %td
            - course_registration.orders.each do |order|
              = link_to(order, effective_orders.order_path(order))
