= effective_form_with(model: [:admin, learndash_enrollment], engine: true) do |f|
  = f.hidden_field :learndash_course_id
  = f.hidden_field :learndash_user_id

  - unless inline_datatable? && inline_datatable.attributes[:learndash_course_id].present?
    - collection = Effective::LearndashCourse.all.deep.sorted.where.not(id: f.object.learndash_user&.learndash_courses)
    = f.select :learndash_course_id, collection

  - unless inline_datatable? && inline_datatable.attributes[:learndash_user_id].present?
    = f.select :learndash_user_id, Effective::LearndashUser.all.deep.sorted

  = f.submit
