= effective_form_with(model: [:admin, learndash_enrollment], engine: true) do |f|
  = f.hidden_field :learndash_course_id
  = f.hidden_field :learndash_user_id

  - if inline_datatable?
    - if inline_datatable.attributes[:learndash_course_id].blank?
      - collection = Effective::LearndashCourse.all.deep.sorted.where.not(id: f.object.learndash_user&.learndash_courses)
      = f.select :learndash_course_id, collection

    - if inline_datatable.attributes[:learndash_user_id].blank?
      = f.select :learndash_user_id, Effective::LearndashUser.all.deep.sorted
  - else
    = f.select :learndash_course_id,  Effective::LearndashCourse.all.deep.sorted
    = f.select :learndash_user_id, Effective::LearndashUser.all.deep.sorted

  = f.submit
